<!-- Header  -->
<ion-header no-border>
  <ion-navbar no-border>

    <!-- Back Button  -->
    <ion-buttons start class="start">
      <button ion-button color="white" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!-- Page Title  -->
    <ion-title>Fotos</ion-title>
    <!-- Buttons  -->
    <ion-buttons end>
      <!--<button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon color="camera" name="camera"></ion-icon>
      </button>-->

      <button ion-button (click)="salvar()">
        <span ion-text color="white">Salvar</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Content  -->
<ion-content padding fullscreen elestic-header>
  <!-- Hotel Location Map Icon  -->
  <ion-fab bottom right edge>
    <button ion-fab color="danger" (tap)="presentPopover($event)">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="photos?.length == 0">
    <img src="assets/imgs/sem-foto.jpg"  height="200px" class="empty-list">
  </div>
  <div class="my-grid">
    <div class="my-item" *ngFor="let photo of photos; let i = index">
      <img *ngIf="!photo?.url_thumb" [src]="DomSanitizer.bypassSecurityTrustUrl(photo)" alt="">
      <img *ngIf="photo?.url_thumb" [src]="DomSanitizer.bypassSecurityTrustUrl(photo.url_thumb)" alt="">

      <div class="my-action">
        <button ion-button color="white" (click)="removeImage(i, photo)" full clear>
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>

    </div>
  </div>
</ion-content>
