<div class="container">
  <form class="animated zoomIn contents" [formGroup]="senhaForm"
                                               (submit)="alterarSenha(senhaForm.value)">
    <ion-list>

      <!-- Current Password -->
      <ion-item>
        <ion-label stacked color="color2">Senha Atual</ion-label>
        <ion-input type="password" formControlName="old_password"  placeholder="Senha Atual"></ion-input>
      </ion-item>

      <!-- New Password -->
      <ion-item>
        <ion-label stacked color="color2">Nova senha</ion-label>
        <ion-input type="password" formControlName="new_password" placeholder="Nova senha"></ion-input>
      </ion-item>

      <!-- Confirm Password -->
      <ion-item>
        <ion-label stacked color="color2">Confirmar senha</ion-label>
        <ion-input type="password" formControlName="new_password_confirmation" placeholder="Confirmar senha"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row justify-content-center align-items-center>
      <button ion-button block type="submit" color="color2">
          Alterar
      </button>
    </ion-row>
  </form>
</div>