<!-- Header  -->
<ion-header no-border>
  <header-one title="Meus Anúncios"></header-one>
</ion-header>

<!-- Content  -->
<ion-content padding>
  <ion-refresher (ionRefresh)=" procedimentoRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>


    <div *ngIf="items?.data?.length == 0">
      <img height="200px" class="empty-list">
    </div>
    <!-- List of Hotels  -->
    <ion-list no-lines no-margin *ngFor="let item of items?.data" (tap)="viewDetails(item)">
      <ion-item class="animated fadeInLeft">

        <!-- Hotel Image -->
        <ion-thumbnail item-start>
          <img  *ngIf="(item.anexo.data.length > 0)" [src]="item.anexo.data[0].url_thumb">
          <img  *ngIf="!(item.anexo.data.length > 0)" src="../../../assets/imgs/sem_imagem.jpg">
        </ion-thumbnail>

        <!-- Name of Hotel -->
        <p text-wrap class="name">{{item?.titulo }}</p>

        <!-- Hotel Review and Type  -->
        <!--<p class="reviews">{{item.quantidade}} Reviews | {{hotel.type}} hotel</p>-->
        <p class="reviews">Publicado: {{item?.created_at.date|date:'dd MMMM HH:mm'}}</p>
        <p class="reviews" *ngIf="(item.enderecos.data.length > 0)">{{item.enderecos.data[0].cidade_nome}} - {{item.enderecos.data[0].estado_uf}}</p>

        <ion-item style="background: transparent" no-padding>

          <!-- Hotel Ratings  -->
          <!--<rating [(ngModel)]="hotel.star" readOnly="false" max="{{hotel.star}}" emptyStarIconName="ios-star-outline" halfStarIconName="star-half"
                  starIconName="ios-star" nullable="true">
          </rating>-->

          <!-- Price  -->
          <ion-badge item-end>R${{item?.valor}}</ion-badge>
          <ion-badge *ngIf="(item?.quantidade > 0)" item-end>Qtd: {{item?.quantidade}}</ion-badge>
        </ion-item>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>