<!--
  Generated template for the ConversasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Header  -->
<ion-header no-border>
  <header-one title="Conversas"></header-one>
</ion-header>

<ion-content padding>

  <div *ngIf="rooms?.length == 0">
    <img height="200px" src="assets/imgs/ic_empty_list.svg" class="empty-list">
  </div>
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <ion-thumbnail item-start>
        <img *ngIf="(room?.anuncio?.anexo?.data.length > 0)" [src]="room?.anuncio?.anexo?.data[0]?.url_thumb">
        <img *ngIf="!(room?.anuncio?.anexo?.data.length > 0)" src="assets/imgs/sem_imagem.jpg">
      </ion-thumbnail>
      {{room.roomname}}
      <ion-icon name="chatboxes" item-end (click)="abrirChat(room)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
