page-anuncio-create {
  .bar-button {
    color: #fff !important;
  }
  .start {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 1 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }
  .toolbar-background {
    background: -webkit-gradient(linear, left top, right bottom, from(#005C97), to(#363795));
    background: linear-gradient(to right bottom, #005C97, #363795);
    border: none;
  }
  .toolbar-title {
    color: #fff !important;
    text-align: center;
  }
  .my-item {
    padding: 2% 2% 0% 2%;
  }

  .icon-arround {
    font-size: 1.2em;
    background: #ff52009c;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    > ion-icon {
      margin: auto !important;
    }
  }

  .icon-arround-disabled {
    font-size: 1.2em;
    background: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    > ion-icon {
      margin: auto !important;
    }
  }

  .property-title {
    font-size: 1.2em;
    font-weight: 900;
  }

  .property-sub-title {
    font-size: 0.7em;
    font-weight: 400;
  }

  .property-title-disabled {
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: line-through;
  }

  .property-sub-title-disabled {
    font-size: 0.7em;
    font-weight: 400;
    text-decoration: line-through;
  }

}
