page-anuncio-endereco {
  .item {
    padding-left: 0 !important;
  }
  .text-input {
    margin: 0 !important;
  }
  .botao_customizado{
    z-index: 999;
  }
  .error-message {
    font-size: 14px;
    color: color($colors, danger);
  }
}
