<!-- Header  -->
<ion-header no-border>
    <header-two title="Endereço"></header-two>
</ion-header>

<!-- Content  -->
<ion-content padding fullscreen elestic-header>
    <form class="animated slideInUp"
          [formGroup]="enderecoForm"
          (submit)="salvar(enderecoForm.value)">
        <ion-list>
            <ion-item>
                <button ion-button round block type="button" (tap)="abrirMapa()" class="custom-btn botao_customizado">
                    Click e insira a localização. *
                </button>
            </ion-item>
            <ion-item>
                <input type="text"
                       placeholder="CEP"
                       class="text-input text-input-ios"
                       name="cep"
                       formControlName="cep"
                       [textMask]="{mask: cepMask}"
                       [class.invalid]="!enderecoForm.controls['cep'].valid && enderecoForm.controls['cep'].dirty"/>
            </ion-item>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['cep'].valid">
                <p>CEP é obrigatório.</p>
            </div>
            <ion-item id="estado">
                <ion-label>Estado</ion-label>
                <ion-select class="app-select-value" formControlName="estado_id" placeholder="Selecione o Estado"
                            (ionChange)="mudarEstado($event)" okText="OK" cancelText="Cancelar">
                    <ion-option *ngFor="let estado of estados?.data; let i = index;" [value]="estado.id">{{estado.nome}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['estado_id'].valid">
                <p>Estado é obrigatório.</p>
            </div>
            <ion-item id="cidade" *ngIf="enderecoForm.controls['estado_id'].value">
                <ion-label>Cidade</ion-label>
                <ionic-selectable
                                  [ngClass]="(!enderecoForm.controls['cidade_nome'].pristine) ? 'app-select-title' :'app-select-notitle' "
                                  item-content
                                  formControlName="cidade_nome"
                                  title="Selecione a Cidade"
                                  [items]="cidades?.data"
                                  itemValueField="id"
                                  itemTextField="nome"
                                  (onChange)="mudarCidade($event)"
                                  [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['cidade_id'].valid && enderecoForm.controls['estado_id'].value">
                <p>Cidade é obrigatório.</p>
            </div>
            <ion-item>
                <ion-input type="text"
                           placeholder="Referência *"
                           class="text-input text-input-ios"
                           name="logradouro"
                           formControlName="logradouro"
                           [class.invalid]="!enderecoForm.controls['logradouro'].valid && enderecoForm.controls['logradouro'].dirty"></ion-input>
            </ion-item>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['logradouro'].valid">
                <p>Referência é obrigatório.</p>
            </div>
            <ion-item>
                <ion-input type="text"
                           placeholder="Número"
                           class="text-input text-input-ios"
                           name="numero"
                           formControlName="numero"
                           [class.invalid]="!enderecoForm.controls['numero'].valid && enderecoForm.controls['numero'].dirty"></ion-input>
                <ion-input type="text"
                           placeholder="Complemento"
                           class="text-input text-input-ios"
                           name="complemento"
                           formControlName="complemento"
                           [class.invalid]="!enderecoForm.controls['complemento'].valid && enderecoForm.controls['complemento'].dirty"></ion-input>
            </ion-item>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['numero'].valid">
                <p>Número é obrigatório.</p>
            </div>
            <div class="error-message"
                 *ngIf="!enderecoForm.controls['complemento'].valid">
                <p>Complemento é obrigatório.</p>
            </div>
        </ion-list>
        <button ion-button round block type="submit" class="custom-btn">
            Salvar
        </button>
    </form>
</ion-content>
