<div class="container">
  <form class="animated zoomIn contents">
    <ion-list>

      <!-- Full Name -->
      <ion-item>
        <ion-label stacked color="color2">Nome Completo</ion-label>
        <ion-input type="text" placeholder="Nome Completo"></ion-input>
      </ion-item>

      <!-- Email Address -->
      <ion-item>
        <ion-label stacked color="color2">Email</ion-label>
        <ion-input type="text" placeholder="Email Address"></ion-input>
      </ion-item>

      <!-- Phone Number -->
      <ion-item>
        <ion-label stacked color="color2">Telefone</ion-label>
        <ion-input type="text" placeholder="Phone Number"></ion-input>
      </ion-item>

      <!-- Address -->
      <ion-item>
        <ion-label stacked color="color2">Endereço</ion-label>
        <ion-input type="text" placeholder="Endereço"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row justify-content-center align-items-center>
      <button ion-button block type="button" color="color2">
          Atualizar
      </button>
    </ion-row>

  </form>
</div>